<h1>Welcome to Game Hoster</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="GetGames">Look At All Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Create">Hoster Your Own</a>
    </li>
</ul>
